<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <table width="500" border="1">	
            <tr>
                <td>이름</td>
                <td><%=name%></td>
            </tr>
            <tr>
                <td>JAVA점수</td>
                <td><%=java%></td>
            </tr>
            <tr>
                <td>WEB점수</td>
                <td><%=web%></td>
            </tr>
            <tr>
                <td>IOT점수</td>
                <td><%=iot%></td>
            </tr>		
            <tr>
                <td>ANDROID점수</td>
                <td><%=android%></td>
            </tr>																																		
        </table>
    </fieldset>
</body>
</html>